{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    
{% endblock page_title %}

{% block main_content %}

{% load static %}


  

<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Leave Requests</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Export</a></li>
      <li class="breadcrumb-item active">Home</li>
    </ol>
    
    <div class="card mb-4">
        
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
      </div>
      <div class="card-body">
        <table id="datatablesSimple" style="overflow-x: scroll;">
          <thead>
            <tr>
                <th class="d-sm-table-cell text-center"><a class="dataTable-sorter">ID</a></th>
                <th class="d-sm-table-cell text-center"><a class="dataTable-sorter">Staff ID</a></th>
                <th class="d-sm-table-cell text-center"><a class="dataTable-sorter">Staff Name</a></th>
                <th class="d-sm-table-cell text-center"><a class="dataTable-sorter">Leave Start Date</a></th>
                <th class="d-sm-table-cell text-center"><a class="dataTable-sorter">Leave End Date</a></th>
                <th class="d-sm-table-cell text-center"><a class="dataTable-sorter">Leave Reason</a></th>
                <th class="d-sm-table-cell text-center">Action</th>
            </tr>
          </thead>
          <!--<tfoot>
            <tr>
                <th>Export Date</th>
                <th>Invoice No.</th>
                <th>From Site</th>
                <th>Destination</th>
                <th>Container No.</th>
                <th>Driver Name</th>
                <th>Driver Mob</th>
                <th>Truck No</th>
                <th>Container Seal No.</th>
                <th>Shiping Line</th>
                <th>Crop</th>
                <th>Transport Master</th>
                <th>Acti5ons</th>
            </tr>
          </tfoot> -->
          <tbody>
            {% for leave in leaves %}

            
                                <tr>
                                    <td class="d-sm-table-cell text-center">{{ leave.id }}</td>
                                    <td class="d-sm-table-cell text-center">{{ leave.staff_id.admin.id }}</td>
                                    <td class="d-sm-table-cell text-center">{{ leave.staff_id.admin.first_name }}</td> 
                                    <td class="d-sm-table-cell text-center">{{ leave.leave_startdate }}</td>
                                    <td class="d-sm-table-cell text-center">{{ leave.leave_enddate }}</td>
                                    <td class="d-sm-table-cell text-center">
                                        
                                        {{leave.leave_message}}</td>
                                    <!-- <td>{{ leave.created_at }}</td> -->
                                    <td class="d-sm-table-cell text-center">
                                        {% if leave.leave_status == 0 %}
                                            <a href="{% url 'staff_leave_approve' leave_id=leave.id %}" class="btn btn-success">Approve</a>
                                            <a href="{% url 'staff_leave_reject' leave_id=leave.id %}" class="btn btn-danger">Reject</a>
                                        {% elif leave.leave_status == 1 %}
                                            <button class="btn btn-success" disabled="disabled">Approved</button>
                                        {% else %}
                                            <button class="btn btn-danger" disabled="disabled">Rejected</button>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                    {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>


 
<!--<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Export Registration</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active"></li>
    </ol>
    <div class="content">
     Dynamic Table Full -->
      <div class="block">
        <div class="block-header block-header-default">
          <!-- <h3 class="block-title">Users </h3> -->

          
          <!--<?php } ?> -->
        </div>
        <div class="block-content">
          <!-- DataTables functionality is initialized with .js-dataTable-full class in js/pages/be_tables_datatables.min.js which was auto compiled from _es6/pages/be_tables_datatables.js -->
          <div class="row justify-content-start py-20">
            <div class="col-lg-12">
              <!-- <?php
                            // Include config file
                            require "connect_db.php";

                            // Attempt select query execution
                            $sql = "SELECT * FROM inward";
                            if($result = mysqli_query($conn, $sql)){
                                if(mysqli_num_rows($result) > 0){

                                    echo " 

              <table
                class="table table-bordered table-striped table-vcenter js-dataTable-full"
                style="display: inline-block; overflow-x: scroll"
              >
                <thead>
                  <tr>
                    <th class="text-center extable" style="width: 15%"></th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>

              {% if not exportData %}
              <p><em>No records were found.</em></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->

<script src="{% static '/feweather_styling/static/js/plugins.js' %}"></script>
<script src="{% static '/feweather_styling/static/js/scripts.js' %}"></script>
<script src="{% static '/feweather_styling/static/js/datatables-simple-demo.js' %}"></script>

{% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}

  {% endblock custom_js %}

